node_modules/
www/

android/.gradle/
android/**/build/
android/local.properties
android/app/google-services.json
*firebase-service-account*.json
.firebaserc
firebase-debug.log

*.apk
*.aab
*.jks
*.keystore
.env
.env.*

.idea/
.vscode/
*.iml
*.log
Thumbs.db
.DS_Store
